*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', sans-serif;
}

body{
    background:#f7f8ff;
    color:#0f172a;
}

.dashboard{
    display:flex;
    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:280px;
    min-height:100vh;
    background:linear-gradient(180deg,#4f46e5,#6d28d9);
    padding:30px 18px;
    color:white;
    position:fixed;
    left:0;
    top:0;
}

.sidebar h2{
    font-size:30px;
    margin-bottom:35px;
}

.sidebar a{
    display:block;
    padding:16px 18px;
    margin-bottom:12px;
    color:white;
    text-decoration:none;
    border-radius:12px;
    font-size:18px;
}

.sidebar a:hover,
.sidebar .active{
    background:rgba(255,255,255,0.18);
}

.logout-btn{
    position:absolute;
    bottom:30px;
    left:18px;
    right:18px;
    padding:16px;
    border:none;
    border-radius:12px;
    background:#ef4444;
    color:white;
    font-size:18px;
    cursor:pointer;
}

/* MAIN */

.main{
    margin-left:280px;
    width:calc(100% - 280px);
    padding:30px;
    min-height:100vh;

    background:
        radial-gradient(circle at 75% 10%, rgba(124,58,237,0.12), transparent 260px),
        radial-gradient(circle at 90% 30%, rgba(99,102,241,0.12), transparent 300px),
        linear-gradient(135deg,#f8fafc,#eef2ff,#faf5ff);
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.topbar h1{
    font-size:36px;
    margin-bottom:8px;
}

.topbar p{
    font-size:18px;
    color:#64748b;
}
.top-actions{
    display:flex;
    align-items:center;
    gap:18px;
}

.notification-wrapper{
    position:relative;
}

.bell-btn{
    width:55px;
    height:55px;
    border:none;
    border-radius:14px;
    background:white;
    font-size:24px;
    cursor:pointer;
    box-shadow:0 8px 25px rgba(0,0,0,0.08);
    position:relative;
}

.bell-btn span{
    position:absolute;
    top:-6px;
    right:-6px;
    background:#ef4444;
    color:white;
    font-size:12px;
    width:22px;
    height:22px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.notification-wrapper{
    position:relative;
}

.notification-panel{
    display:none;
    position:absolute;
    top:70px;
    right:0;
    width:380px;
    height:420px;
    background:white;
    border-radius:18px;
    padding:20px;
    box-shadow:0 20px 50px rgba(0,0,0,0.18);
    z-index:99999;
}

.notification-panel h3{
    margin-bottom:15px;
}

#notificationList{
    height:330px;
    overflow-y:scroll;
    padding-right:8px;
}

.notification-item{
    padding:14px 0;
    border-bottom:1px solid #e5e7eb;
}

.notification-item p{
    margin-bottom:6px;
    color:#111827;
    font-size:15px;
}

.notification-item small{
    color:#64748b;
    font-size:13px;
}
.search-box{
    width:330px;
    height:55px;
    background:white;
    display:flex;
    align-items:center;
    gap:10px;
    padding:0 18px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0,0,0,0.06);
}

.search-box input{
    border:none;
    outline:none;
    width:100%;
    font-size:16px;
}

/* CARDS */

.cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    display:flex;
    gap:20px;
    align-items:center;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.08);
}

.card .icon{
    width:64px;
    height:64px;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:38px;
}

.card h2{
    font-size:42px;
    color:#0f172a;
}

.card p{
    font-size:30px;
    color:#475569;
    margin:10px 0 22px;
}

.card span{
    color:#16a34a;
    font-size:15px;
}

.purple .icon{background:#e5e4ea;}
.blue .icon{background:#dbeafe;}
.green .icon{background:#e8c5a7;}
.orange .icon{background:#ffedd5;}
.violet .icon{background:#ede9fe;}
.red .icon{background:#d2bfbf;}

/* CHARTS */

.chart-row{
    display:grid;
    grid-template-columns:1.3fr 1fr;
    gap:24px;
    margin-top:25px;
}

.chart-card{
    background:white;
    border-radius:18px;
    padding:26px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.chart-card h3{
    font-size:30px;
    margin-bottom:20px;
}

#taskChart{
    width:100% !important;
    height:300px !important;
}

.status-box{
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:25px;
}

.donut{
    width:180px;
    height:180px;
    border-radius:50%;
    background:conic-gradient(
        #22c55e 0 62%,
        #f97316 62% 75%,
        #6d28d9 75% 88%,
        #ef4444 88% 100%
    );
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    color:#0f172a;
    position:relative;
}

.donut::before{
    content:"";
    position:absolute;
    width:100px;
    height:100px;
    background:white;
    border-radius:50%;
}

.donut h2,
.donut p{
    position:relative;
    z-index:2;
}

.legend p{
    font-size:16px;
    margin-bottom:18px;
    color:#475569;
}

.legend b{
    margin-left:20px;
    color:#0f172a;
}

.dot{
    display:inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    margin-right:10px;
}

.green-dot{background:#22c55e;}
.orange-dot{background:#f97316;}
.violet-dot{background:#6d28d9;}
.red-dot{background:#ef4444;}

/* BOTTOM LISTS */

.bottom-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
    margin-top:25px;
}

.list-card{
    background:white;
    border-radius:18px;
    padding:26px;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.list-card h3{
    font-size:22px;
    margin-bottom:20px;
}

.list-item{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px 0;
    border-bottom:1px solid #e5e7eb;
}

.list-item span{
    font-size:30px;
}

.list-item div{
    flex:1;
}

.list-item h4{
    font-size:18px;
}

.list-item p{
    color:#64748b;
}

.list-item small{
    color:#6d28d9;
    font-weight:bold;
}

/* RESPONSIVE */

@media(max-width:1000px){
    .sidebar{
        position:relative;
        width:100%;
        min-height:auto;
    }

    .dashboard{
        flex-direction:column;
    }

    .main{
        margin-left:0;
        width:100%;
    }

    .cards,
    .chart-row,
    .bottom-row{
        grid-template-columns:1fr;
    }

    .topbar{
        flex-direction:column;
        align-items:flex-start;
        gap:20px;
    }
}
.dashboard-bottom{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
    margin-top:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.recent-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 0;
    border-bottom:1px solid #eee;
}

.recent-item h4{
    margin-bottom:5px;
}

.recent-item p{
    color:#666;
    font-size:14px;
}

.status{
    color:#6c4cf1;
    font-weight:600;
}